$text-color: #4A4A4A;
$main-color: #2E59C8;

.advantages {
  margin-top: 80px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    flex-basis: 20%;
    font-weight: 400;
    font-size: 36px;
    margin-top: 100px;
    line-height: 44px;
    letter-spacing: 0.04em;
    color: $text-color;
    
    &-name {
      color: $main-color;
    }
  }

  &__left {
    max-width: 825px;
    flex-basis: 80%;
  }

  &__imgs {
    position: relative;
    display: flex;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__items {
    display: flex;
  }

  &__item {
    cursor: pointer;
    padding: 20px 30px 10px 30px;
    width: 275px;
    height: 300px;
    transition: 0.2s;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;

    &-active {
      background: #f3f3f3;
    }

    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      line-height: 1;
      letter-spacing: 0.04em;
      color: $text-color;
    }

    &-parag {
      font-size: 13px;
      line-height: 170%;
      color: #000;
      letter-spacing: 0.04em;
    }
  }

}
