@media (max-width: 1200px) {
  .advantages {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: center;
    }
  }
}

@media (max-width: 992px) {
  .advantages {
    &__left {
      width: 100%;
    }

    &__items {
      flex-direction: column;
    }

    &__item {
      width: auto;
      height: 200px;
    }
  }
}

@media (max-width: 576px) {
  .advantages {
    &__title {
      font-size: 24px;
      margin-top: 0;
    }
    
    &__item {
      height: 250px;
    }
  }
}