.content {
	margin-top: 50px !important;
	display: flex;
	justify-content: space-around;

	&__text {
		flex-basis: 50%;
		margin-right: 50px;
	}

	&__desc {
		h1 {
			color: #4A4A4A;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			font-size: 40px;
		}

		p {
			color: #4A4A4A;
			font-family: 'Montserrat', sans-serif;
			line-height: 170%;
		}
	}

	&__explain {
		max-width: 500px;
		margin-top: 30px;
		display: flex;
		flex-direction: row;
	}

	&__line {
		margin-right: 15px;
	}

	&__item {
		margin-bottom: 15px;
		box-sizing: border-box;
		padding: 10px 5px;
		border-left: 2px solid #2E59C8;
		color: #4A4A4A;
		font-family: 'Montserrat', sans-serif;
	}

	&__img {
		position: relative;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__bg {
		background-color: #2E59C8;
		position: absolute;
		bottom: -30px;
		left: -30px;
		z-index: -1;
		width: 70%;
		height: 70%;
	}
}