@media(max-width: 992px) {	
	.offer {
		&__info {
			h2 {
				font-size: 22px;
			}
	
			p {
				font-size: 14px;
			}
		}
	}
}

@media(max-width: 768px) {	
	.offer {
		&__info {
			margin-bottom: 20px;
		}
	}
}