.section {
	margin-top: 100px;
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	background-color: #2E59C8;
}

.offer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	&__info {
		color: #fff;
		max-width: 500px;

		h2 {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			line-height: 170%;
		}

		p {
			font-family: 'Montserrat', sans-serif;
			line-height: 170%;
			opacity: .8;
		}
	}

	&__button {
		width: 240px;
		height: 60px;
		cursor: pointer;
		background-color: #004671;
		border: none;
		outline: none;
		padding: 15px 20px;
		font-family: 'Montserrat', sans-serif;
		color: #fff;
		font-weight: 700;
	}
}
